<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>store-platform.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F5D7FC9282E47BA00255E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5D7FDF282E47BB00255E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5D7FE9282E47BB00255E71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
